.row
  .col-md-5
    .col-md-5
      %input#table-search.form-control{:placeholder => "Search here...", :type => "text"}

    .col-sm-3
      %select.st_per_page.form-control
        %option{:value => "10"}
          10
        %option{:value => "20"}
          20
        %option{:value => "30"}
          30
        %option{:value => "50"}
          50
%table#products_stream.table.table-striped
  %thead
    %tr
      %th SKU 
      %th Name 
      %th Description 
      %th Long Description 
      %th Supplier 
      %th Action
  %tbody

%script#product_table_template.table.table-striped{:type => 'text/html'}
  {{#record}}
  %tr
    %td {{record.sku}}
    %td {{record.name}}
    %td {{record.description}}
    %td {{record.long_description}}
    %td {{supplier_name}}
    %td
      .col-md-3
        //%a.btn.btn-primary{title: "Edit", :href => "/products/{{_id.$oid}}/edit"} Edit
        = link_to "Edit", "{{edit_product_path}}", class: 'btn btn-primary'
        /= link_to "Edit", "#myModal", class: 'btn btn-primary', 'data-toggle' => 'modal'
  {{/record}}

#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  //.modal-dialog{:role => "document"}
  //  .modal-content
  //    .modal-header
  //      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
  //        %span{"aria-hidden" => "true"} &times;
  //      %h4#myModalLabel.modal-title Modal title
  //    .modal-body
  //    .modal-footer
  //      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
  //      %button.btn.btn-primary{:type => "button"} Save changes


:javascript
  var products = #{@products.to_json};
  load_stream_table()
